body {
    background: white;
}
main {
    background-color: rgb(61, 224, 184);

}
.input-number{
    display: flex;
    text-align: center;
    
}
.input-number{
    background-color: aqua;
    width: 200pt;
    height: 20px;
}

.btn {
    flex-direction: row;
}